/* --------------------------------------------------- Reset */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* --------------------------------------------------- H1-h6, li, a, p etc. */
.pagination li{
    cursor: pointer;
}
h6, .filtre_usager a.nav-link{
    color: #0275d8 !important;
    cursor: pointer;
}

/* --------------------------------------------------- Icones   */
.fa-star, .fa-star-half{
    color: darkorange;
}
.fa_custom{
    color: #999;
}

.iconeAptDescription {
    margin-right: 20px;
}

/* --------------------------------------------------- Forms   */
#formUsager select, #formApt small {
    font-size: 0.9em !important;
}
#formUsager small, #formApt small {
    padding-left: 15px;
    color: #682b28!important;
}

/* --------------------------------------------------- Inputs	*/
/* ref: https://stackoverflow.com/questions/2610497 */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #999 !important;
    font-size: 0.8em !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #999 !important;
   opacity:  1;
   font-size: 0.8em !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #999 !important;
   opacity:  1;
   font-size: 0.8em !important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #999 !important;
   font-size: 0.8em !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #999 !important;
   font-size: 0.8em !important;
}
::placeholder { /* Most modern browsers support this now. */
   color:    #999 !important;
   font-size: 0.8em !important;
}
a, a:hover{
    text-decoration: none;
}

/* --------------------------------------------------- Images   */
.thumbnail{
    width: 100%;
    overflow: hidden;
}
.thumbnail img{
    width: 100%;
    height: auto;
}
/* Opacite des photos lorsque "hovered on" */
.photoAppartement:hover, .photoSupplementaire:hover {
    opacity: 0.7;
}
.aptPhotoSupp {
    height: 5em;
    width: 6.5em; 
}
.aptPhotoModal {
    height: 45em;
    width: 60em; 
}
.aptPhotoProprio {
    height: 5em;
    width: 5em; 
}
.aptIcones {
    height: 2em;
    width: 2em;
}

/* modalGaleriePhoto  */

/* Modal-Carousel pour photos supplementaires */
.modal-header, .modal-footer {  
    color: #ffffff;
    background-color: #014B88;
}

.modal-xl {
    max-height: auto;
    max-width: 70%;
}
.modal-xl {
    max-height: auto;
    max-width: 66%;
}

/* --------------------------------------------------- page AfficheAppartement */
.sectionAptDetail-g, .sectionAptDetail-d {
    padding=0;
    /*border: 1px solid #000000; */ 
}
.aptReservation, .aptDisponibilites {
    padding: 20px;
    border: 1px solid #585759;
}
.aptDisponibilites {
    padding: 10px;
    height: 165px;
    width: auto;
    overflow-y: scroll;
    border: 1px solid #585759;
}

/* --------------------------------------------------- google carte   */
#carte{
    height: 100vh;
    position: fixed !important;
    overflow: hidden;
    right: 1em;
    top: 3em;
}
@media only screen and (max-width: 768px) {
    #carte{
        position: relative!important;
        right: 0em;
    }
}
.appart, .gm-style-iw{
    line-height: 1em;
}
.appart p, .gm-style-iw p{
    margin: .3em auto;
}
.card-block{
    padding: .1em;
}
.gm-style-iw{
    left: 25px !important;
}

/* --------------------------------------------------- footer   */
footer {
    color: #ffffff;
    background-color: #585759;
}
footer hr {
    border: 0.5px solid #ffffff;; 
}
.footer-list ul {
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
.footer-list ul a {
    color: #ffffff;
 }
.footer-list ul li:hover {
    text-decoration: underline;
}
.footer-media-item, .footer-list-xtra {
    margin-left: 15px;
}
.footer-media-item a {
    color: #ffffff;
}
.footer-media-item a:hover {
    color: #014B88;
}