/* --------------------------------------------------- Reset */
html, body {
    height: 100%;
    margin: 0!important;
    padding: 0!important;
    box-sizing: border-box;
}

/* --------------------------------------------------- H1-h6, li, a, p etc. */
a, a:hover{
    text-decoration: none;
}
.pagination li{
    cursor: pointer;
}
h6, .filtre_usager a.nav-link{
    color: #0275d8 !important;
    cursor: pointer;
}
.invisible {
  visibility: hidden;
}

/* --------------------------------------------------- header   */
.badge-notify{
    background: #F8941E;
    position: relative;
    bottom: 1em;
}
.badge{
    font-size: .8em;
    border-radius: 1rem;
}
.row .accueil{
    position: relative;
    margin: 0!important;
    padding: 0!important;
}
#image-entete img{
    min-width: 100vw;
    height: auto;
    object-fit: cover;
}
.navbar-brand {
    margin: 0!important;
    padding-left: 13px;
}
.navbar-brand img{
    width: 4em;
    z-index: 125;
    top: 0;
}
.navigation-logo{
    position: relative;
    z-index: 125;
    margin: 0!important;
}
.navigation{
    position: fixed;
    top: 0;
    right: 0;
    background: #f7f7f9;  
    margin: 0!important;
    padding: 0!important; 
    padding-bottom: .55rem;  
    height: 65px;
}
.logo-entete{
    position: fixed;
    top: 0;
    background: #f7f7f9;
    margin: 0!important;
    padding: 0!important;
    z-index: 10000;
    height: 65px;
}
#navbarNavDropdown {
  
}
.navbar-toggleable {
    height: 65px;
}
.bg-secondary{
    background: #585759;
}
.messageHeader {
    font-size: 0.7em;
}
.slogan{
    font-family: 'Waiting for the Sunrise', cursive;
    font-size: 5em;
    font-weight: 800;
    line-height: 97%;
}

/* --------------------------------------------------- Icones   */
.fa-star, .fa-star-half{
    color: darkorange;
}
.fa_custom{
    color: #999;
}
.iconeAptDescription {
    margin-right: 20px;
}

/* --------------------------------------------------- Forms   */
#formUsager select, #formApt small {
    font-size: 0.9em !important;
}
#formUsager small, #formApt small {
    padding-left: 15px;
    color: #682b28!important;
}

/* --------------------------------------------------- Tables   */

.tabDetail {
    /*font-size: 0.9em;*/
    font-size: 1em;
}

/* --------------------------------------------------- Inputs	*/
/* ref: https://stackoverflow.com/questions/2610497 */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #999 !important;
    font-size: 0.8em !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #999 !important;
   opacity:  1;
   font-size: 0.8em !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #999 !important;
   opacity:  1;
   font-size: 0.8em !important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #999 !important;
   font-size: 0.8em !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #999 !important;
   font-size: 0.8em !important;
}
::placeholder { /* Most modern browsers support this now. */
   color:    #999 !important;
   font-size: 0.8em !important;
}
input.slider {
    width: 100%;
}
#inputFile, .file {
    width: 138px;
    height: 30px;
    display: block;
    overflow: hidden;
/*    
    background: url(btn-choose-file.gif) 0 0 no-repeat;
    cursor: pointer;    */
}

/* --------------------------------------------------- vue Ajout Image  */
#image_preview, .imgSupp {
    height: 120px;
    margin: 0;
}


/* --------------------------------------------------- Images   */
.thumbnail {
    width: 100%;
    overflow: hidden;
}
.thumbnail img {
    width: 100%;
    height: auto;
}
.img-thumbnail{
    background:none;
    border: none;
}
.imgEval {
    width: 75%;
    height: 75%;
    margin: 0 auto;
}

/* --------------------------------------------------- page AfficheAppartement */
.sectionAptDetail-g, .sectionAptDetail-d {
    padding=0;
    /*border: 1px solid #000000; */ 
}
.aptReservation, .aptModification {
    position: sticky;
    top: 2em;
    padding: 20px;
    border: 1px solid #585759;
}
.aptDisponibilites {
    padding: 10px;
    height: 165px;
    width: auto;
    overflow-y: scroll;
    border: 1px solid #585759;
}
.aptPhotoProprio {
    height: 5em;
    width: 5em; 
}

/* Opacite des photos lorsque "hovered on" */
.photoAppartement:hover, .aptPhotoSupp:hover {
    opacity: 0.7;
}
.aptPhotoSupp {
    height: 5em;
    width: 6.5em; 
}
.aptPhotoModal {
    height: 45em;
    width: 60em; 
}
.aptPhotoProprio, .aptPhotoComment {
    height: 5em;
    width: 5em; 
}
.aptIcones, .aptIconesOptions {
    height: 2em;
    width: 2em;
}


.profilAptIcone p a, .dropdown-menu li a {
    color: #000000;
}

.profilAptIcone p a:hover, .profilAptIcone button i:hover {
    /*color: #edefed;*/
    color: grey;
}

/* --------------------------------------------------- Modal */

.modal-header, .modal-footer {  
 
}
.modal-xl {
    max-height: auto;
    max-width: 55%;
}
#myModalEval, #myModalEval {  
    background-color: white;
    color: black;
}
.modalEval {
    padding: 0;
}

/* --------------------------------------------------- vue Evaluation Apt  */
.titreEval {
    width: 100%;
}
.divEvaluation small {
    width: 10px;
}
.divEtoiles {
    position: relative;
}
#etoilesGrises {
    z-index: 0;
}
#etoiles {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
} 

/* --------------------------------------------------- page Recherche appartement   */

.listeApt, .resultatListeApt, .recherche, .inputListeApt  {
    margin: 0!important;
    padding: 0!important;
}

/* --------------------------------------------------- page AfficheAptsProprio */
.profil-appartementsProprio {
    margin: 1em;
}

.profil-aptProprio, .profil-aptProprio-opt {
    padding: 1em;
    /*border: 1px solid #000000;*/ 
}

#dropdownMenuButton {
    border: none;
}

/* --------------------------------------------------- page AfficheAppartement */
.sectionAptDetail-g, .sectionAptDetail-d {
    padding=0;
    /*border: 1px solid #000000; */ 
}

.aptReservation, .aptModification {
    position: sticky;
    top: 5em;
    padding: 20px;
    border: 1px solid #585759;
}
.recherche  {
    box-sizing: border-box;
    margin-left: 15px!important;
    margin-left: 15px!important;  
}

/* --------------------------------------------------- google carte   */
#carte{
    height: 100vh;
}

.absolut {
    position: absolute;
    overflow: hidden;
    right: 0em;
    top: 0em; 
}
.carte_fixe{
    position: fixed !important;
    right: 1em;   
    top: 1em;
    margin-left: 1em; 
}
@media only screen and (max-width: 768px) {
    #carte{
        position: relative!important;
        right: 0em;
    }
}
.appart, .gm-style-iw{
    line-height: 1em;
}
.appart p, .gm-style-iw p{
    margin: .3em auto;
}
.card-block{
    padding: .1em;
}
.gm-style-iw{
    left: 25px !important;
}

/* ---------------------------------------------------  vue message usager  */
.filtre_usager a.nav-link, p.nav-link{
    color: #0275d8 ;
    cursor: pointer;
}
.messages .table td a, h6, p[name='detailMessage']{
    cursor: pointer;
    color: #636c72;
    font-weight: 400;
}
.messages .table td, .table th{
    padding: 0;
    color: #636c72;
}
.messages .table thead th{
    padding: .75em;
}
.messages .non_lu td, .non_lu td p, .non_lu td a{
    font-weight: 800 !important;
}
td[name='contenuMessage']{
    padding: 0;
    border: none;
    box-shadow: 0 .5px .5px 0 rgba(0, 0, 0, 0.2), 0 .3px 15px 0 rgba(0, 0, 0, 0.19);
}
.dateMessage{
    font-size: .8em;
}


/* --------------------------------------------------- button   */
#btn-profil{
    border-color: transparent;
    outline: none;
    color: #767676;
	background-color: transparent;
	
}
#btn-profil:hover{
    border-bottom: 2px solid #efefef;
    color: #484848;
}
#btn-profil[aria-expanded="true"]{
    color: #0275d8;
    font-weight: 700;
    border-bottom: 1px solid #0275d8;
}

/* --------------------------------------------------- panels   */
.panel {
    border: 1px solid #dce0e0;
    background-color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.panel-header {
	color: #484848;
    /*color: #fff;*/
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #dce0e0;
    background-color: #edefed;
    /*background-color: #919191;*/
    padding: 20px;
}
.panel-footer {
    position: relative;
    margin: 0;
    padding: 20px;
    border-top: 1px solid #dce0e0;
}
.panel-body {
    padding: 20px;
}


/* --------------------------------------------------- footer   */

footer hr {
    border: 0.5px solid #ffffff;; 
}
.footer-list ul {
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-size: 0.8em;
}
.footer-list ul a {
    color: #ffffff;
 }
.footer-list ul li:hover {
    text-decoration: underline;
}
.footer-media-item, .footer-list-xtra {
    margin-left: 15px;
}
.footer-media-item a {
    color: #ffffff;
}
.footer-media-item a:hover {
    color: #F8941E;
}
footer h5 {
    font-size: 1em;
}
@media screen and (max-width: 575px) {
    footer img {
        width: 50%;
    }
}
footer {
    color: #ffffff;
    background-color: #585759;
    position: relative;
    bottom: -10em;
}

/* --------------------------------------------------- @media queries   */

@media screen and (max-width: 1170px) {
    
    .confirmerReservation, .refuserReservation, .annulerReservation, .payerMaintenant {
        width: 100%;
    }

}

@media screen and (max-width: 767px) {
    
    .tabDetail {
        /*font-size: 0.7em;*/
    }
    
    .tabToHide {
        display: none;
    }
    
    .confirmerReservation, .refuserReservation, .annulerReservation {
        width: 100%;
    }

}